* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.col-white {
  color: white;
}

.f-b-50 {
  flex-basis: 50%;
}

.p-tb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.flex-d-row {
  flex-direction: row;
}

.a-i-center {
  align-items: center;
}

.f-g-1 {
  flex-grow: 1;
}

.a-s-center {
  align-self: center;
}

.header__logo {
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 11px;
}

.header__logo_img {
  padding-left: 27px;
}

.header__logo_img img {
  height: 40px;
}

.header__logo__brand {
  padding-left: 41px;
}

.header__logo__brand a {
  text-decoration: none;
  color: black;
}

.header__menu {
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 11px;
}

.header__menu a {
  padding-right: 25px;
  color: black;
  text-decoration: none;
}

.reserve__bg {
  min-height: 420px;
  background-image: url('../images/banner.png');
  background-size: cover;
  background-position: center;
}

.reserve__content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 500px;
  text-align: center;
}

.reserve__content img {
  height: 131px;
  padding-top: 45px;
}

.reserve__content h1 {
  color: white;
  font-size: 40px;
}

.reserve__content p {
  color: white;
  padding-top: 15px;
}

.reserve__content button {
  box-sizing: border-box;
  margin-top: 35px;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  background: none;
  padding: 10px;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.advantage__content {
  box-sizing: border-box;
  padding-right: 34px;
  width: 33.33%;
}

.p-0 {
  padding-right: 0;
}

.advantage__content p {
  padding-top: 18px;
}

.about {
  background: #f7f7f7;
}

.about__content img {
  height: 250px;
}

.about__content p {
  padding: 12px 92px 0 0;
}

.vacation__content img {
  height: 250px;
}

.vacation__content h2 {
  padding-left: 92px;
}

.vacation__content p {
  padding: 12px 0 0 92px;
}

.feedback-form {
  background: #f7f7f7;
}

.feedback-form__content {
  width: 600px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback-form__register-form {
  padding-top: 21px;
  width: 450px;
  flex-wrap: wrap;
}

.feedback-form__register-form p {
  padding: 25px 0 5px 27px;
  font-weight: bold;
}

.feedback-form__fieldset-form {
  margin-top: 25px;
  border: 2px solid rgb(29, 205, 156);
}

.feedback-form__legend-line {
  margin-left: 30px;
  font-size: 20px;
  color: rgb(29, 205, 156);
}

.feedback-form__content-border {
  flex-direction: column;
  width: 100%;
}

.j-c-fe {
  justify-content: flex-end;
}

.w-150 {
  width: 150px;
}

.fieldset-border-style {
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
}

.styleLTR {
  direction: ltr;
  -moz-margin-end: -4%;
}

.mr-18 {
  margin-right: 18px;
}

.mr-46 {
  margin-right: 46px;
  direction: ltr;
  -moz-margin-end: 16%;
}

.pl-30 {
  padding-left: 30px;
}

.feedback-form__button-form {
  margin-top: 25px;
  height: 38px;
  width: 140px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgb(20, 205, 156);
  border-radius: 9px;
  color: rgb(29, 205, 156);
  background: none;
}

.footer {
  width: 100%;
  background: #303846;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__content {
  width: 33.33%;
  flex-wrap: wrap;
}

.footer__content__logo img {
  width: 40px;
  padding: 0 20px 0 0;
}

.footer__content__name {
  box-sizing: border-box;
  padding-top: 9px;
}

.footer__content:nth-child(2) {
  box-sizing: border-box;
  padding-left: 46px;
  padding-top: 9px;
}

.footer__content:nth-child(3) {
  box-sizing: border-box;
  padding-left: 187px;
  padding-top: 9px;
}

.footer__content li {
  margin-top: 5px;
  margin-left: 25px;
  color: white;
}
