* {
  margin: 0;
  padding: 0;
  font-family: serif;
}
header {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  height: 60px;
  width: 100%;
  background: white;
  margin-left: auto;
  margin-right: auto;
}
.logo_name {
  width: auto;
}
.logo_name img {
  height: 40px;
  width: 40px;
  margin-top: 6px;
  margin-left: 25px;
  border: none;
}
.title {
  position: absolute;
  top: 30%;
  left: 5.5%;
}
a {
  text-decoration: none;
  font-size: 16px;
  color: #303846;
  margin-right: 18px;
}
.menu {
  position: absolute;
  top: 30%;
  right: 25px;
}
main {
  position: relative;
  top: 0;
  left: 0;
}
.content{
  position: absolute;
  display: block;
  height: 310px;
  width: 100%;
  overflow: hidden;
}
.bg_image {
  position: absolute;
  top: -350px;
  width: 100%;
  z-index: -1;
}
.logo {
  margin-left: 46%;
  margin-top: 4%;
  width: 100px;
  height: 100px;
}
.content h1 {
  margin-left: 39%;
  margin-top: 15px;
  font-family: sans-serif;
  color: white;
}
.content p {
  margin-left: 42.5%;
  margin-top: 3px;
  font-size: 13px;
  color: white;
}
.content button {
  margin-left: 46%;
  margin-top: 25px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  background: none;
  color: white;
}
.advantage {
  position: absolute;
  top: 310px;
  margin: 0 auto;
  padding-top: 80px;
	height: 200px;
  width: 100%;
}
.text {
  float: left;
  padding-left: 165px;
  height: 100px;
	width: 20%;
}
.text p {
  margin-top: 18px;
}
.about {
  position: absolute;
  top: 590px;
  height: 250px;
  width: 100%;
  background: #f7f7f7;
}
.about img {
  margin-left: 20px;
  height: 180px;
}
.about table {
  margin-left: 15%;
  padding-top: 20px;
  width: 60%;
  border-spacing: 20px 25px;
}
.about p {
  margin-top: 13px;
}
.vacation {
  position: absolute;
  top: 845px;
  width: 100%;
  height: 250px;
}
.vacation img {
  margin-right: 20px;
  height: 180px;
}
.vacation table {
  margin-left: 340px;
  padding-top: 20px;
  width: 60%;
  border-spacing: 25px 20px;
}
.vacation p {
  margin-top: 13px;
}
.contacts {
  position: absolute;
  top: 1098px;
  padding-top: 50px;
  height: 450px;
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  justify-content: center;
}
form {
  text-align: left;
  margin-left: 400px;
  height: 250px;
}
fieldset {
  margin-top: 25px;
  margin-left: 150px;
  padding-bottom: 25px;
  width: 35%;
  background: #f7f7f7;
  color: rgb(29, 205, 156);
  border: 2px solid rgb(29, 205, 156);
}
fieldset p {
  padding-left: 25px;
  padding-top: 15px;
  color: black;
  font-weight: bold;
}
.choose_room {
  margin-left: 25px;
  width: 120px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 8px;
}
legend {
  margin-left: 25px;
}
.choose_decoration {
  margin-left: 105px;
  width: 120px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 8px;
}
fieldset input {
  float: right;
  margin-right: 25px;
  width: 140px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 8px;
}
form button {
  margin-left: 150px;
  margin-top: 25px;
  height: 33px;
  width: 120px;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(29, 205, 156);
  border-radius: 9px;
  color: rgb(29, 205, 156);
  background: none;
}
